In [1]:
import pandas as pd
import os

In [2]:
df = pd.read_excel("../../customer_allocation_data/CustAllocDownload202406171900.xlsx")

In [3]:
df.head()

,Demand Type,Ord Type,SKU,Part #,Adaptor,Customer #,Cust Name,Region,SalesPriority,End Customer,...,Higher Level Item,Del #,Del Date,Rejection,Allocation Qty,Allocation Date,Planning Group,Alt Allocation,Product End Customer,Product End Customer Name
0,Allocation,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaT,NaN,0.0,2024-05-05,NaN,4.0,NaN,NaN
1,Allocation,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaT,NaN,0.0,2024-06-23,NaN,48.0,NaN,NaN
2,Allocation,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaT,NaN,0.0,2024-05-12,NaN,2163.0,NaN,NaN
3,Allocation,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaT,NaN,0.0,2024-06-23,NaN,2543.0,NaN,NaN
4,Allocation,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaT,NaN,0.0,2024-06-23,NaN,1180.0,NaN,NaN

In [7]:
# Filtering the data to be given to CloudPaths

sku_list = []
count = 0
for sku_selected in list(df['SKU'].unique()):
    sku_list.append(sku_selected)
    if count == 100:
        break
    count = count + 1

In [8]:
count

100

In [11]:
df_subset = df[df['SKU'].isin(sku_list)].copy()

In [12]:
df_subset.head()

,Demand Type,Ord Type,SKU,Part #,Adaptor,Customer #,Cust Name,Region,SalesPriority,End Customer,...,Higher Level Item,Del #,Del Date,Rejection,Allocation Qty,Allocation Date,Planning Group,Alt Allocation,Product End Customer,Product End Customer Name
0,Allocation,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaT,NaN,0.0,2024-05-05,NaN,4.0,NaN,NaN
1,Allocation,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaT,NaN,0.0,2024-06-23,NaN,48.0,NaN,NaN
2,Allocation,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaT,NaN,0.0,2024-05-12,NaN,2163.0,NaN,NaN
3,Allocation,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaT,NaN,0.0,2024-06-23,NaN,2543.0,NaN,NaN
4,Allocation,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaT,NaN,0.0,2024-06-23,NaN,1180.0,NaN,NaN

In [13]:
df_subset['Demand Type'].unique()

array(['Allocation', 'Supply', 'Locked Allocation', 'BOOKED', 'SHIPPED',
       'JFF', 'BUF', 'RSF'], dtype=object)

In [16]:
df_subset.to_excel('CustomerAllocSubset.xlsx', index=False)

In [4]:
datetime_columns = []
for column in df.columns:
    if df[column].dtype == "<M8[ns]":
        datetime_columns.append(column)
        # df[column] = pd.to_datetime(df[column])

In [9]:
pd.to_datetime(df['Ord Date'])

0        NaT
1        NaT
2        NaT
3        NaT
4        NaT
          ..
249447   NaT
249448   NaT
249449   NaT
249450   NaT
249451   NaT
Name: Ord Date, Length: 249452, dtype: datetime64[ns]

In [5]:
datetime_columns

['Ord Date',
 'CRD Date',
 'Inv Date',
 'Pl. GI Date',
 'MAD',
 'Del Date',
 'Allocation Date']

In [8]:
df['Ord Date'].dtype

dtype('<M8[ns]')

In [7]:
df[datetime_columns] = pd.to_datetime(df[datetime_columns])

ValueError: to assemble mappings requires at least that [year, month, day] be specified: [day,month,year] is missing

In [13]:
datetime_columns

['Ord Date',
 'CRD Date',
 'Inv Date',
 'Pl. GI Date',
 'MAD',
 'Del Date',
 'Allocation Date']

In [10]:
df.head()

,Demand Type,Ord Type,SKU,Part #,Adaptor,Customer #,Cust Name,Region,SalesPriority,End Customer,...,Higher Level Item,Del #,Del Date,Rejection,Allocation Qty,Allocation Date,Planning Group,Alt Allocation,Product End Customer,Product End Customer Name
0,Allocation,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaT,NaN,0.0,2024-05-05,NaN,4.0,NaN,NaN
1,Allocation,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaT,NaN,0.0,2024-06-23,NaN,48.0,NaN,NaN
2,Allocation,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaT,NaN,0.0,2024-05-12,NaN,2163.0,NaN,NaN
3,Allocation,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaT,NaN,0.0,2024-06-23,NaN,2543.0,NaN,NaN
4,Allocation,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaT,NaN,0.0,2024-06-23,NaN,1180.0,NaN,NaN

In [11]:
df['Allocation Date']

0        2024-05-05
1        2024-06-23
2        2024-05-12
3        2024-06-23
4        2024-06-23
            ...
249447   2024-05-19
249448   2024-06-09
249449   2024-05-05
249450   2024-05-12
249451   2024-06-23
Name: Allocation Date, Length: 249452, dtype: datetime64[ns]

In [6]:
df['CRD Date'].dtype

dtype('<M8[ns]')

In [21]:
df['Demand Type'].unique()

array(['Allocation', 'Supply', 'Locked Allocation', 'JFF', 'BOOKED',
       'SHIPPED', 'ZSCH', 'BUF', 'RSF', 'PULLED'], dtype=object)

In [22]:
df.shape

(249452, 38)

In [27]:
for demand_type in df['Demand Type'].unique():
    print(f"The shape of the table for {demand_type}: {df[df['Demand Type'] == demand_type].shape}")

The shape of the table for Allocation: (21636, 38)
The shape of the table for Supply: (32843, 38)
The shape of the table for Locked Allocation: (17317, 38)
The shape of the table for JFF: (44292, 38)
The shape of the table for BOOKED: (35118, 38)
The shape of the table for SHIPPED: (22512, 38)
The shape of the table for ZSCH: (2761, 38)
The shape of the table for BUF: (31374, 38)
The shape of the table for RSF: (39019, 38)
The shape of the table for PULLED: (2580, 38)

In [28]:
df_booked = df[df['Demand Type'] == 'BOOKED'].copy()
df_shipped = df[df['Demand Type'] == 'SHIPPED'].copy()

In [29]:
df_booked.columns

Index(['Demand Type', 'Ord Type', 'SKU', 'Part #', 'Adaptor', 'Customer #',
       'Cust Name', 'Region', 'SalesPriority', 'End Customer', 'End Cust Name',
       'Sale Ord #', 'Line #', 'Sch Ln#', 'PO #', 'Quantity', 'Unit Price',
       'Amount', 'Ord Date', 'CRD Date', 'Inv Date', 'Pl. GI Date', 'MAD',
       'Ship Plnt', 'Business Unit', 'Types', 'Family', 'Line',
       'Higher Level Item', 'Del #', 'Del Date', 'Rejection', 'Allocation Qty',
       'Allocation Date', 'Planning Group', 'Alt Allocation',
       'Product End Customer', 'Product End Customer Name'],
      dtype='object')

In [32]:
len(df_booked['SKU'].unique())

1817

In [33]:
len(df_shipped['SKU'].unique())

1654

In [35]:
len(df['SKU'].unique())

4636