In [26]:
# !pip install openpyxl

In [1]:
import pandas as pd

In [7]:
sheets = df_sheets.sheet_names
df_sheets_dict = {}
for sheet in sheets:
    
    df = pd.read_excel(df_sheets, sheet_name=sheet)
    if sheet == "Customer Demand":
        rows_to_remove = range(2000, 10000)
        df = df.drop(rows_to_remove)
    df_sheets_dict[sheet] = df

In [9]:
with pd.ExcelWriter("../data/final_data.xlsx", engine="xlsxwriter") as writer:
    for sheet_name, df in df_sheets_dict.items():
        df.to_excel(writer, sheet_name=sheet_name, index=False)

In [10]:
df = pd.read_excel("../data/final_data.xlsx")

In [11]:
df.head()

,Product Name,Customer Name,Customer Request Date,Manufacturing Efficiency,Inventory Level,Forecast Accuracy,Amount of Products Requested,Amount of Supply
0,Quadro RTX 8000,MSI,2023-05-12,78,496,83,78,2200
1,A100,Lenovo Group,2023-05-12,96,187,89,146,2460
2,GeForce GTX 1650,Google Cloud,2023-05-12,78,188,95,10,704
3,Tesla V100,Amazon AWS,2023-05-12,94,139,90,11,2162
4,A100,HP Inc.,2023-05-12,96,187,89,80,2460

In [13]:
df[df["Customer Request Date"] > "2023-05-24"]

,Product Name,Customer Name,Customer Request Date,Manufacturing Efficiency,Inventory Level,Forecast Accuracy,Amount of Products Requested,Amount of Supply
333,Tesla V100,Google Cloud,2023-05-25,94,139,90,173,3223
334,GeForce RTX 3060,Samsung Electronics,2023-05-25,96,187,87,254,3585
335,GeForce GTX 1650,Microsoft Azure,2023-05-25,78,188,95,196,2500
336,Tesla V100,Google Cloud,2023-05-25,94,139,90,259,3223
337,GeForce RTX 3060,Samsung Electronics,2023-05-25,96,187,87,105,3585
...,...,...,...,...,...,...,...,...
1995,Tesla V100,HP Inc.,2023-07-25,94,139,90,153,2028
1996,A100,Apple Inc.,2023-07-25,96,187,89,108,1593
1997,GeForce GTX 1660,MSI,2023-07-25,75,170,75,86,1855
1998,GeForce RTX 3080,Google Cloud,2023-07-25,87,342,84,207,1547
1999,A100,Apple Inc.,2023-07-25,96,187,89,39,1593

In [17]:
df["Customer Request Date"].iloc[0]

Timestamp('2023-05-12 00:00:00')

In [7]:
import pandas as pd
import numpy as np
from datetime import datetime, timedelta

def generate_gpu_dataset():
    # Set a starting date for the forecast
    start_date = datetime.now()

    # Product IDs expanded to 15 different models
    products = ["RTX 3070", "RTX 3080", "GTX 1660", "RX 6800", "RTX 3090",
                "GTX 1650", "RX 6900 XT", "RX 6700 XT", "RTX 2060", "GTX 1070",
                "RTX 2080", "GTX 1080 Ti", "RX 5700", "GTX 1050 Ti", "RTX 2070"]

    # Extend the number of weeks to 12 weeks for 12 dates per product
    dates = [start_date + timedelta(weeks=w) for w in range(12)]

    # Generating the dataset
    data = []
    for product in products:
        for date in dates:
            actuals = np.random.randint(100, 1000)  # Random actuals between 100 and 1000
            xgboost_pred = actuals * np.random.normal(1.0, 0.05)  # Xgboost prediction with small noise
            rf_pred = actuals * np.random.normal(1.0, 0.05)  # Random Forest prediction with small noise
            lgbm_pred = actuals * np.random.normal(1.0, 0.05)  # LightGBM prediction with small noise
            extra_tree_pred = actuals * np.random.normal(1.0, 0.05)  # Extra Tree Regressor prediction with small noise
            
            data.append({
                "Product ID": product,
                "Forecast Date": date.date(),
                "Actuals": actuals,
                "Xgboost Model": xgboost_pred,
                "Random Forest Model": rf_pred,
                "LightGBM Model": lgbm_pred,
                "Extra Tree Regressor Model": extra_tree_pred
            })

    # Creating DataFrame
    return pd.DataFrame(data)

# Generate the dataset
dataset = generate_gpu_dataset()

In [10]:
file_path = '../data/gpu_forecast_data.xlsx'
dataset.to_excel(file_path, index=False, sheet_name='ML Model Forecast')